body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f7f6;
    color: #333;
}

.menu {
    background-color: #1e3c72;
    padding: 15px 0;
    position: sticky;
    /* menu sempre no topo  */
    top: 0;
    /* posição 0 - posição acima */
    z-index: 1000;
    /* fica sempre por cima dos outros conteúdos */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    /* caixa com sombra */
}

.menu-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu-logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.lista {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.lista a {
    color: #CBDCF7;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.3s;
}

.lista a:hover {
    color: #ffffff;
}

.cabecalho {
    background-color: #2e4c82;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.cabecalho-logo{
    border-radius: 15px;
}

.cabecalho h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.cabecalho h2 {
    font-weight: 300;
    font-style: italic;
    color: #ffd700;
}

.principal {
    max-width: 900px;
    margin: -40px auto 40px;
    padding: 20px;
}

.missao-valores {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.objetivos {
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.card {
    background-color: #f5f8ff;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid #2e4c82;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    flex: 1;
}
.horas-atividades {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    padding-bottom: 35px;
}

.horas-atividades h3{
    margin-bottom: 10px;
}

.atividade {
    background-color: #d8f3dc;
    color: #1b6f3c;
    padding: 12px;
    border-radius: 6px;
    margin-top: 10px;
    font-weight: 500;
}
